src/isim6ldap/src/Command.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Command">
    	<xsd:sequence>
    		<xsd:element name="arguments" type="Argument" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Argument">
    	<xsd:sequence>
    		<xsd:element name="value" type="xsd:string"></xsd:element>
    		<xsd:element name="name" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    	
    </xsd:complexType>
</xsd:schema>
